.content {
    padding: 0 25px;
}
.lesson {
    width: 300px;
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 10px;
}
button {
    padding: 10px; 
}
.buttonAdd {
    color: darkgreen;
}
.buttonAdd:hover {
    color: white;
    background-color: green;
}
.buttonOut {
    color: red;
}
.buttonOut:hover {
    color: white;
    background-color: red;
}
.error {
    color: red;
    font-size: 25px;
    font-weight: 700;
}